PORT=8000
MONGODB_URI=mongodb+srv://Lucky_Longre:your-password@cluster0.xglm8h5.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=xyz
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=abc
REFRESH_TOKEN_EXPIRY=10d

CLOUDINET_CLOUD_NAME=your_cloudinery_cloud_name
CLOUDINET_API_KEY=your_cloudinery_API_key
CLOUDINET_API_SECRET=your_cloudinery_API_secret